@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans:
      "Pretendard Variable", -apple-system, BlinkMacSystemFont, system-ui,
      "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  }
  * {
    user-select: none;
  }

  /* GSAP ScrollSmoother styles */
  #smooth-wrapper {
    overflow: hidden;
  }
  
  #smooth-content {
    overflow: visible;
    width: 100%;
  }
}
