html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

p:not(:last-child) {
  margin-bottom: 0.875rem;
}

span,
p {
  word-break: keep-all;
}

ol,
ul {
  margin-left: 1rem;
}

ol {
  list-style-type: disc;
}

/* Shimmer text animation */
@keyframes shimmer-text-horizontal {
  0% {
    background-position: -100% 0%;
  }
  5% {
    background-position: -100% 0%;
  }
  10% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 0%;
  }
  30% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.shimmer-overlay {
  animation: shimmer-text-horizontal 5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.animate-shimmer-text-horizontal {
  animation: shimmer-text-horizontal 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
